:root {
  --vivid-tangerine: #ff9b7f; /* pinkish */
  --de-york: #74c791; /* pale green */
  --east-bay: #465680; /* pale blue */
  --linen: #faeeea; /* light red */
  --trinidad: #de3b04; /* dark red */
  --alabaster: #fafafa; /* off white */
  --alto: #dad8d8; /* medium grey */
  --mine-shaft: #252222; /* darker warm grey */
  
  --bondi-blue: #00A5AE; /* primary teal */
  --bondi-blue-dark: #00747a; /* primary on hover */
  --iceberg: #DAF3F4; /* secondary light teal */
  --tundora: #4e4e4e; /* dark warm grey for text */
  --governor-bay: #3142AD; /* navy */
  --chetwode-blue: #8F99DF; /* violet */
  --coral: #FF895A; /* coral */
}
