.contact-form .field {
  margin-top: 30px;
  margin-bottom: 30px
}

.contact-form label {
  display: block;
  font-weight: normal;
  margin-bottom: 10px
}

.contact-form label .description {
  color: var(--alto);
  float: right
}

.contact-form input:not([type=radio]):not([type=checkbox]):not([type=submit]),.contact-form textarea,.contact-form select {
  border: 1px solid;
  border-color: var(--bondi-blue-bright);
  border-radius: 3px;
  background-color: white;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  outline: none;
  width: 100%;
  transition: all 0.3s ease-in-out
}

.contact-form input:not([type=radio]):not([type=checkbox]):not([type=submit]):focus,.contact-form textarea:focus,.contact-form select:focus {
  border-color: var(--bondi-blue-dark);
}

.contact-form .required label:before {
  content: '* '
}

.contact-form .options input {
  display: inline-block
}

.contact-form .error-msg {
  color: var(--trinidad)
}

.contact-form .alert {
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px
}

.contact-form .alert.success {
  color: var(--mine-shaft);
  background-color: #bde4cb
}

.contact-form .alert.failed {
  color: var(--trinidad);
  background-color: #ffebe5
}

.contact-form .select-arrow {
  position: relative;
}

.contact-form .select-arrow select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
}

.contact-form .select-arrow:after {
  content: '^';
  display: block;
  font-family: 'brandon-regular';
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 25px;
  transform: rotate(180deg);
}

[data-show-when-checked="speak-with-parent"] {
  margin-left: 20px
}

.contact-icon {
  margin-left: 20px;
  position: relative;
}

.contact-icon:before {
  content: '';
  top: 0;
  left: -30px;
  position: absolute;
}

.contact-icon.phone:before {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0036 11.8013C14.6146 11.3981 14.1454 11.1825 13.6481 11.1825C13.1548 11.1825 12.6816 11.3941 12.2765 11.7973L11.0092 13.055C10.9049 12.9991 10.8007 12.9472 10.7004 12.8953C10.556 12.8234 10.4197 12.7556 10.3034 12.6837C9.11627 11.9331 8.03745 10.9549 7.00275 9.68925C6.50144 9.05841 6.16456 8.5274 5.91992 7.98839C6.24878 7.68895 6.55358 7.37752 6.85035 7.07808C6.96264 6.96628 7.07494 6.8505 7.18723 6.73871C8.02943 5.90026 8.02943 4.81427 7.18723 3.97582L6.09237 2.88584C5.96805 2.76207 5.83971 2.6343 5.7194 2.50654C5.47877 2.259 5.22611 2.00347 4.96543 1.76392C4.57641 1.38062 4.1112 1.177 3.62192 1.177C3.13264 1.177 2.6594 1.38062 2.25836 1.76392C2.25435 1.76791 2.25435 1.76791 2.25034 1.7719L0.886775 3.14137C0.373435 3.65242 0.0806701 4.27527 0.0165025 4.99793C-0.0797489 6.16377 0.265152 7.24976 0.529843 7.96044C1.17954 9.70522 2.15007 11.3222 3.59786 13.055C5.35444 15.1431 7.46796 16.7921 9.88227 17.9539C10.8047 18.3891 12.0359 18.9042 13.4115 18.992C13.4957 18.996 13.5839 19 13.6641 19C14.5906 19 15.3686 18.6686 15.9782 18.0098C15.9822 18.0019 15.9902 17.9979 15.9942 17.9899C16.2028 17.7383 16.4434 17.5108 16.6961 17.2672C16.8685 17.1035 17.045 16.9318 17.2174 16.7522C17.6145 16.3409 17.823 15.8618 17.823 15.3707C17.823 14.8756 17.6105 14.4005 17.2054 14.0013L15.0036 11.8013ZM16.4394 16.0056C16.4354 16.0056 16.4354 16.0095 16.4394 16.0056C16.283 16.1732 16.1226 16.325 15.9501 16.4927C15.6894 16.7402 15.4247 16.9997 15.1761 17.2912C14.771 17.7224 14.2938 17.926 13.6682 17.926C13.608 17.926 13.5438 17.926 13.4837 17.922C12.2926 17.8461 11.1857 17.383 10.3555 16.9877C8.08558 15.8938 6.09237 14.3406 4.43604 12.3723C3.06847 10.7313 2.15409 9.21412 1.5485 7.58514C1.17553 6.59098 1.03917 5.81641 1.09933 5.08577C1.13944 4.61863 1.31991 4.23135 1.65278 3.89996L3.02035 2.53848C3.21686 2.35482 3.42541 2.25501 3.62994 2.25501C3.8826 2.25501 4.08713 2.40673 4.21547 2.53449C4.21948 2.53848 4.22349 2.54247 4.2275 2.54647C4.47214 2.77405 4.70475 3.00961 4.94939 3.26114C5.07371 3.38891 5.20205 3.51667 5.33038 3.64843L6.42524 4.73841C6.85035 5.16163 6.85035 5.5529 6.42524 5.97612C6.30894 6.0919 6.19664 6.20769 6.08034 6.31948C5.74346 6.66285 5.42262 6.98226 5.07371 7.29368C5.06569 7.30166 5.05767 7.30566 5.05366 7.31364C4.70876 7.65701 4.77292 7.99239 4.84511 8.21996C4.84912 8.23194 4.85313 8.24392 4.85714 8.2559C5.14189 8.94263 5.54294 9.58943 6.15253 10.36L6.15654 10.364C7.26343 11.7215 8.43048 12.7795 9.71784 13.59C9.88227 13.6938 10.0507 13.7777 10.2111 13.8575C10.3555 13.9294 10.4919 13.9973 10.6082 14.0691C10.6242 14.0771 10.6402 14.0891 10.6563 14.0971C10.7926 14.165 10.921 14.1969 11.0533 14.1969C11.3862 14.1969 11.5947 13.9893 11.6629 13.9214L13.0345 12.5559C13.1709 12.4202 13.3874 12.2565 13.6401 12.2565C13.8887 12.2565 14.0933 12.4122 14.2176 12.548C14.2216 12.5519 14.2216 12.5519 14.2256 12.5559L16.4354 14.7559C16.8485 15.1631 16.8485 15.5823 16.4394 16.0056Z' fill='%2300A5AE'/%3E%3Cpath d='M10.3653 4.46673C11.4142 4.64808 12.3671 5.15917 13.1278 5.94229C13.8884 6.72541 14.3809 7.70637 14.561 8.78624C14.6051 9.05827 14.8333 9.24787 15.0935 9.24787C15.1255 9.24787 15.1536 9.24375 15.1856 9.23963C15.4819 9.19017 15.678 8.90165 15.63 8.59665C15.4138 7.29008 14.8133 6.09891 13.8964 5.15505C12.9796 4.21119 11.8226 3.59293 10.5535 3.37036C10.2572 3.3209 9.98095 3.52287 9.92891 3.82375C9.87686 4.12463 10.069 4.41727 10.3653 4.46673Z' fill='%2300A5AE'/%3E%3Cpath d='M18.992 8.44902C18.639 6.33884 17.6633 4.41867 16.1641 2.89061C14.6648 1.36255 12.7809 0.368101 10.7105 0.00832002C10.421 -0.0442322 10.1473 0.157892 10.0958 0.452993C10.0482 0.752136 10.2425 1.03107 10.536 1.08362C12.3843 1.40298 14.0699 2.29636 15.4105 3.65868C16.7511 5.02504 17.6236 6.74309 17.937 8.62689C17.9806 8.89369 18.2067 9.07965 18.4645 9.07965C18.4962 9.07965 18.524 9.0756 18.5557 9.07156C18.8452 9.02709 19.0435 8.74412 18.992 8.44902Z' fill='%2300A5AE'/%3E%3C/svg%3E");
  height: 19px;
  width: 19px;
}

.contact-icon.marker:before {
  height: 23px;
  width: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='23' viewBox='0 0 16 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.5888 0 0 3.60482 0 8.03571C0 9.53277 0.412845 10.9938 1.19418 12.2613L7.54462 22.5406C7.66627 22.7375 7.88058 22.8571 8.11107 22.8571C8.11284 22.8571 8.11458 22.8571 8.11636 22.8571C8.34885 22.8553 8.5636 22.732 8.68302 22.5316L14.8716 12.1527C15.6098 10.912 16 9.48835 16 8.03571C16 3.60482 12.4112 0 8 0ZM13.7274 11.4651L8.10098 20.9012L2.32742 11.5556C1.67707 10.5006 1.32444 9.28348 1.32444 8.03571C1.32444 4.3433 4.324 1.33036 8 1.33036C11.676 1.33036 14.6711 4.3433 14.6711 8.03571C14.6711 9.24647 14.3417 10.4325 13.7274 11.4651Z' fill='%2300A5AE'/%3E%3Cpath d='M8.00005 3.80957C5.68942 3.80957 3.80957 5.68942 3.80957 8.00005C3.80957 10.2959 5.65883 12.1905 8.00005 12.1905C10.3701 12.1905 12.1905 10.2707 12.1905 8.00005C12.1905 5.68942 10.3107 3.80957 8.00005 3.80957ZM8.00005 10.803C6.45157 10.803 5.19708 9.54433 5.19708 8.00005C5.19708 6.45963 6.45963 5.19708 8.00005 5.19708C9.54047 5.19708 10.7984 6.45963 10.7984 8.00005C10.7984 9.52179 9.57306 10.803 8.00005 10.803Z' fill='%2300A5AE'/%3E%3C/svg%3E%0A");
}
