
.content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

@media (min-width: 480px) {
  .content {
      padding-left:40px;
      padding-right: 40px
  }
}

.content .row {
  margin-left: -20px;
  margin-right: -20px
}

.content-subnav {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0
}

.content-subnav>li h3 {
  margin: 0
}

.content-subnav>li a {
  color: var(--alto)
}

.content-subnav>li a:focus,.content-subnav>li a:hover {
  color: var(--mine-shaft)
}

.content-subnav>li.active a {
  color: var(--mine-shaft)
}

ul.bullets {
  list-style: none;
}

ul.bullets > li::before {
  content: "\2022";
  color: var(--bondi-blue);
  font-weight: bold;
  display: inline-block;
  width: 1em; 
  margin-left: -1em;
}

ul.bullets li::marker {
  color: var(--bondi-blue)
}

.kid-grid {
  height: 150px;
  background-image: url(/img/class-grid.jpg);
  background-repeat: repeat-x;
  background-size: auto 100%;
}

@media (min-width: 768px) {
  .kid-grid {
    height: 480px;
  }
}

.video-container {
  background-color: var(--mine-shaft);
  padding-top: 50px;
  padding-bottom: 50px;
}

.video-container > iframe {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.faq {
  background-color: var(--iceberg);
  background-image: url(/img/background-books.png);
  background-size: contain;
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq-header {
  display: inline-block;
  max-width: 250px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .faq-header {
    max-width: none;
  }
}

.stars-background {
  background-image: url(/img/background-stars.png);
  background-size: contain;
}

.accordion {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0 15px 15px 0 rgba(0, 165, 174, 0.2); /* bondi-blue at 20% */
  display: inline-block;
  width: 100%;
  max-width: 670px;
}

.accordion > p {
  text-align: left;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.accordion-header {
  text-align: left;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 40px 20px 20px;
  cursor: pointer;
}

.accordion-header svg {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 15px;
  height: 10px;
  color: var(--bondi-blue);
  transition: transform 0.2s;
}

.accordion-header.open svg {
  transform: rotate(180deg);
}

.search-result {
  display: block;
  padding: 20px;
  border-bottom: 1px solid var(--alto);
  color: inherit;
  font-weight: inherit;
}

.search-result:focus,
.search-result:hover {
  background-color: var(--alabaster);
  color: inherit;
}

.highlighted {
  background-color: var(--iceberg)
}

.slideshow {
  position:'relative';
  height: '100%'
}

.slideshow .background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity .25s;
  -webkit-transition: opacity .25s
}

.slideshow-arrow-left,.slideshow-arrow-right {
  position: absolute;
  bottom: 45%;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 50%;
  z-index: 10;
  background-color: rgba(255,255,255,0.15);
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center
}

@media (max-width: 480px) {
  .slideshow-arrow-left,.slideshow-arrow-right {
      display:none
  }
}

.slideshow-arrow-left:hover,.slideshow-arrow-right:hover {
  background-color: rgba(255,255,255,0.3)
}

.slideshow-arrow-left:active,.slideshow-arrow-right:active {
  background-color: rgba(255,255,255,0.35)
}

.slideshow-arrow-left {
  left: 50px
}

.slideshow-arrow-right {
  right: 50px
}

.events {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0
}

.events>li {
  margin-bottom: 60px
}

.date-block {
  display: table;
  position: relative;
  height: 70px;
  width: 70px;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background-color: var(--alabaster);
  color: inherit;
  font-weight: normal
}

.date-block:focus,.date-block:hover {
  color: inherit
}

.date-block:focus span,.date-block:hover span {
  opacity: 1
}

.is-past .date-block:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 35px;
  width: 1px;
  height: 70px;
  background-color: var(--tundora);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

@media (min-width: 480px) {
  .date-block {
      float:left
  }
}

.date-block>div {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 10px;
  color: inherit;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0
}

.date-block span {
  display: block;
  line-height: 1em;
  opacity: 0.5;
  text-transform: uppercase;
  white-space: nowrap
}

.date-block .month {
  font-size: 14px
}

.date-block .day {
  font-size: 26px
}

.event-text h2 {
  margin-bottom: 0
}

@media (min-width: 480px) {
  .event-text {
      margin-left:100px
  }
}
