
.content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px
}

@media (min-width: 480px) {
  .content {
      padding-left:40px;
      padding-right: 40px
  }
}

.content .row {
  margin-left: -20px;
  margin-right: -20px
}

.content-subnav {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0
}

.content-subnav>li h3 {
  margin: 0
}

.content-subnav>li a {
  color: var(--alto)
}

.content-subnav>li a:focus,.content-subnav>li a:hover {
  color: var(--mine-shaft)
}

.content-subnav>li.active a {
  color: var(--mine-shaft)
}

.footer {
  background-color: var(--east-bay);
  padding-bottom: 80px
}

.footer .nav-links {
  margin-top: 80px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px
}

.footer .nav-links li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px
}

.footer .copyright {
  color: white;
  opacity: 0.5;
  padding-left: 40px;
  padding-right: 40px
}

.social-bar {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--de-york)
}

.social-bar a {
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(255,255,255,0.8);
  color: var(--de-york);
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center
}

.social-bar a:focus,.social-bar a:hover {
  background-color: white;
  filter: none;
}

.social-bar a svg {
  position: relative;
  top: 10px;
  height: 50%;
  width: 50%;
  fill: currentColor
}

header {
  position: relative;
  height: 100px
}

.has-page-head header {
  height: 500px
}

.body-index header {
  height: 700px
}

.background-img {
  height: 100%;
  position: relative;
  background-color: var(--mine-shaft);
  background-size: cover;
  background-position: center center
}

.background-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3)
}

.body-index .background-img {
  background-image: url("/img/pole-corners.jpg")
}

.body-about .background-img {
  background-image: url("/img/legos-carrying-rocks.jpg")
}

.body-programs .background-img {
  background-image: url("/img/robotics-soulder.jpg")
}

.body-admissions-apply .background-img {
  background-image: url("/img/pick-me.jpg")
}

.body-admissions-faq .background-img {
  background-image: url("/img/ground-mural.jpg")
}

.body-calendar .background-img {
  background-image: url("/img/animal-play.jpg")
}

.body-contact .background-img {
  background-image: url("/img/boys-looking.jpg")
}

.body-programs-pre-school .background-img {
  background-image: url("/img/class-preschool.jpg")
}

.body-programs-middle-school .background-img {
  background-image: url("/img/class-middleschool.jpg")
}

.body-programs-high-school .background-img {
  background-image: url("/img/class-highschool.jpg")
}

@keyframes float-in {
  0% {
      opacity: 0;
      transform: translateY(20px)
  }

  100% {
      transform: translateY(0);
      opacity: 1
  }
}

@-webkit-keyframes float-in {
  0% {
      opacity: 0;
      -webkit-transform: translateY(20px)
  }

  100% {
      -webkit-transform: translateY(0);
      opacity: 1
  }
}
.slideshow {
  position:'relative';
  height: '100%'
}

.slideshow .background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity .25s;
  -webkit-transition: opacity .25s
}

.slideshow-arrow-left,.slideshow-arrow-right {
  position: absolute;
  bottom: 45%;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 50%;
  z-index: 10;
  background-color: rgba(255,255,255,0.15);
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center
}

@media (max-width: 480px) {
  .slideshow-arrow-left,.slideshow-arrow-right {
      display:none
  }
}

.slideshow-arrow-left:hover,.slideshow-arrow-right:hover {
  background-color: rgba(255,255,255,0.3)
}

.slideshow-arrow-left:active,.slideshow-arrow-right:active {
  background-color: rgba(255,255,255,0.35)
}

.slideshow-arrow-left {
  left: 50px
}

.slideshow-arrow-right {
  right: 50px
}

.page-head-wrap {
  position: absolute;
  text-align: center;
  color: white;
  top: 200px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-animation: float-in 0.3s 0.3s ease-out forwards;
  animation: float-in 0.3s 0.3s ease-out forwards
}

.page-head-wrap h1 {
  font-family: 'brandon-black';
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
  max-width: 12em;
  text-align: center
}

@media (min-width: 480px) {
  .page-head-wrap h1 {
      font-size:48px;
      letter-spacing: 3px
  }
}

@media (min-width: 768px) {
  .page-head-wrap h1 {
      font-size:68px;
      letter-spacing: 4px
  }
}

.page-subhead {
  font-family: 'brandon-regular-italic';
  display: block;
  font-size: 24px
}

.cta-button {
  color: white;
  font-family: 'proxima-nova';
  background-color: var(--vivid-tangerine);
  border-radius: 300px;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1.75em;
  display: inline-block;
  line-height: 1em
}

.cta-button:focus,.cta-button:hover {
  color: white;
  filter: brightness(1.2)
}

.site-title {
  font-family: 'brandon-regular';
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  letter-spacing: 1px;
  max-width: 240px;
  font-size: 18px;
  font-weight: normal;
  top: 20px;
  left: 10px
}

@media (min-width: 768px) {
  .site-title {
      top:35px;
      left: 20px
  }
}

.site-title a {
  color: white;
  text-decoration: none
}

.site-title a span {
  display: none
}

@media (min-width: 768px) {
  .site-title a span {
      display:inline
  }
}

.site-logo {
  float: left;
  width: 30px;
  margin-right: 5px;
  position: relative;
  top: -10px
}

.site-logo-hover {
  opacity: 0;
  transition: opacity 0.1s;
  position: absolute;
  left: 0
}

a:hover .site-logo-hover {
  opacity: 1
}

.nav-links {
  color: white;
  list-style: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 13px
}

.nav-links>li {
  opacity: 0.8
}

.nav-links>li.active,.nav-links>li:hover {
  opacity: 1
}

.nav-links a {
  text-decoration: none;
  position: relative;
  color: inherit
}

.nav-links a:focus,.nav-links a:hover {
  color: inherit
}

nav>ul {
  display: none
}

@media (min-width: 768px) {
  nav>ul {
      display:block;
      position: absolute;
      top: 40px;
      right: 20px;
      text-align: right;
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 0;
      padding-left: 0
  }
}

nav>ul>li {
  display: inline-block;
  position: relative;
  padding-left: 10px
}

nav>ul>li:hover .subnav {
  opacity: 1;
  transform: translateY(0)
}

nav>ul>li:hover .subnav li {
  height: auto
}

nav .subnav {
  opacity: 0;
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  padding-left: 0;
  padding-top: 10px;
  transform: translateY(-10px);
  transition: transform 0.2s
}

@media (min-width: 768px) {
  nav .subnav {
      display:block
  }
}

nav .subnav li {
  height: 1px;
  display: block
}

nav .subnav a:focus,nav .subnav a:hover {
  text-decoration: underline
}

@media (max-width: 768px) {
  .nav-opened nav {
      z-index:10
  }

  .nav-opened nav>ul {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-color: var(--mine-shaft);
      color: white;
      text-align: center;
      margin: 0;
      font-size: 15px;
      padding-top: 120px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
      z-index: 10;
  }

  .nav-opened nav>ul li {
      display: block;
      animation: reo-fade-in .3s forwards;
      -webkit-animation: reo-fade-in .3s forwards;
      margin-bottom: 20px
  }
}

.hamburger {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  user-select: none;
  color: rgba(255,255,255,0.9);
  width: 22px;
  height: 22px;
  z-index: 100
}

@media (min-width: 768px) {
  .hamburger {
      display:none
  }
}

.hamburger .top-bun,.hamburger .meat,.hamburger .bottom-bun {
  width: 22px;
  height: 2px;
  background-color: white;
  -webkit-transition: -webkit-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  -moz-transition: -moz-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  position: absolute;
  top: 0;
  right: 0
}

.hamburger .meat {
  -webkit-transition: opacity 0s .15s linear;
  -moz-transition: opacity 0s .15s linear;
  -ms-transition: opacity 0s .15s linear;
  -o-transition: opacity 0s .15s linear;
  transition: opacity 0s .15s linear;
  top: 7px
}

.hamburger .bottom-bun {
  top: 14px
}

.nav-opened .hamburger .top-bun,.nav-opened .hamburger .bottom-bun {
  -webkit-transition: top .1s .1s ease-in-out,-webkit-transform .1s .2s ease-in-out;
  -moz-transition: top .1s .1s ease-in-out,-moz-transform .1s .2s ease-in-out;
  -ms-transition: top .1s .1s ease-in-out,-ms-transform .1s .2s ease-in-out;
  transition: top .1s .1s ease-in-out,transform .1s .2s ease-in-out
}

.nav-opened .hamburger .top-bun {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px
}

.nav-opened .hamburger .meat {
  opacity: 0
}

.nav-opened .hamburger .bottom-bun {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px
}

.contact-form .field {
  margin-top: 30px;
  margin-bottom: 20px
}

.contact-form label {
  display: block;
  font-weight: normal;
  margin-bottom: 5px
}

.contact-form label .description {
  color: var(--alto);
  float: right
}

.contact-form input:not([type=radio]):not([type=checkbox]):not([type=submit]),.contact-form textarea,.contact-form select {
  border: 1px solid var(--alto);
  background-color: var(--alabaster);
  padding: 8px 10px;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  outline: none;
  width: 100%;
  transition: all 0.3s ease-in-out
}

.contact-form input:not([type=radio]):not([type=checkbox]):not([type=submit]):focus,.contact-form textarea:focus,.contact-form select:focus {
  background-color: white
}

.contact-form .required label:before {
  content: '* '
}

.contact-form input[type=radio],.contact-form input[type=checkbox] {
  vertical-align: middle
}

.contact-form .options input {
  display: inline-block
}

.contact-form .error-msg {
  color: var(--trinidad)
}

.contact-form .alert {
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px
}

.contact-form .alert.success {
  color: var(--mine-shaft);
  background-color: #bde4cb
}

.contact-form .alert.failed {
  color: var(--trinidad);
  background-color: #ffebe5
}

.events {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0
}

.events>li {
  margin-bottom: 60px
}

.date-block {
  display: table;
  position: relative;
  height: 70px;
  width: 70px;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background-color: var(--alabaster);
  color: inherit;
  font-weight: normal
}

.date-block:focus,.date-block:hover {
  color: inherit
}

.date-block:focus span,.date-block:hover span {
  opacity: 1
}

.is-past .date-block:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 35px;
  width: 1px;
  height: 70px;
  background-color: var(--tundora);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

@media (min-width: 480px) {
  .date-block {
      float:left
  }
}

.date-block>div {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 10px;
  color: inherit;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0
}

.date-block span {
  display: block;
  line-height: 1em;
  opacity: 0.5;
  text-transform: uppercase;
  white-space: nowrap
}

.date-block .month {
  font-size: 14px
}

.date-block .day {
  font-size: 26px
}

.event-text h2 {
  margin-bottom: 0
}

@media (min-width: 480px) {
  .event-text {
      margin-left:100px
  }
}
