@font-face {
    font-family: 'proxima-nova';
    src: url(/fonts/proximanova-regular-webfont.eot?#iefix) format("embedded-opentype"),url(/fonts/proximanova-regular-webfont.woff) format("woff"),url(/fonts/proximanova-regular-webfont.woff2) format("woff2"),url(/fonts/proximanova-regular-webfont.ttf) format("truetype"),url(/fonts/proximanova-regular-webfont.svg#proximanova-regular-webfont) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'brandon-light';
    src: url(/fonts/BrandonGrotesque-Light.eot?#iefix) format("embedded-opentype"),url(/fonts/BrandonGrotesque-Light.otf) format("opentype"),url(/fonts/BrandonGrotesque-Light.woff) format("woff"),url(/fonts/BrandonGrotesque-Light.ttf) format("truetype"),url(/fonts/BrandonGrotesque-Light.svg#Brandon-Light) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'brandon-light-italic';
    src: url(/fonts/BrandonGrotesque-LightItalic.eot?#iefix) format("embedded-opentype"),url(/fonts/BrandonGrotesque-LightItalic.otf) format("opentype"),url(/fonts/BrandonGrotesque-LightItalic.woff) format("woff"),url(/fonts/BrandonGrotesque-LightItalic.ttf) format("truetype"),url(/fonts/BrandonGrotesque-LightItalic.svg#Brandon-LightItalic) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'brandon-regular';
    src: url(/fonts/BrandonGrotesque-Regular.eot?#iefix) format("embedded-opentype"),url(/fonts/BrandonGrotesque-Regular.otf) format("opentype"),url(/fonts/BrandonGrotesque-Regular.woff) format("woff"),url(/fonts/BrandonGrotesque-Regular.ttf) format("truetype"),url(/fonts/BrandonGrotesque-Regular.svg#Brandon-Regular) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'brandon-regular-italic';
    src: url(/fonts/BrandonGrotesque-RegularItalic.eot?#iefix) format("embedded-opentype"),url(/fonts/BrandonGrotesque-RegularItalic.otf) format("opentype"),url(/fonts/BrandonGrotesque-RegularItalic.woff) format("woff"),url(/fonts/BrandonGrotesque-RegularItalic.ttf) format("truetype"),url(/fonts/BrandonGrotesque-RegularItalic.svg#Brandon-RegularItalic) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'brandon-black';
    src: url(/fonts/BrandonGrotesque-Black.eot?#iefix) format("embedded-opentype"),url(/fonts/BrandonGrotesque-Black.otf) format("opentype"),url(/fonts/BrandonGrotesque-Black.woff) format("woff"),url(/fonts/BrandonGrotesque-Black.ttf) format("truetype"),url(/fonts/BrandonGrotesque-Black.svg#Brandon-Black) format("svg");
    font-weight: normal;
    font-style: normal
}

.row {
    max-width: none;
    margin-left: auto;
    margin-right: auto
}

.row::before,.row::after {
    content: ' ';
    display: table
}

.row::after {
    clear: both
}

.row.collapse>.column,.row.collapse>.columns {
    padding-left: 0;
    padding-right: 0
}

.row .row {
    max-width: none;
    margin-left: -20px;
    margin-right: -20px
}

.row .row.collapse {
    margin-left: 0;
    margin-right: 0
}

.row.expanded {
    max-width: none
}

.row.expanded .row {
    margin-left: auto;
    margin-right: auto
}

.column,.columns {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px
}

.column:last-child:not(:first-child),.columns:last-child:not(:first-child) {
    float: right
}

.column.end:last-child:last-child,.end.columns:last-child:last-child {
    float: left
}

.column.row.row,.row.row.columns {
    float: none
}

.row .column.row.row,.row .row.row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0
}

.small-1 {
    width: 8.33333%
}

.small-push-1 {
    position: relative;
    left: 8.33333%
}

.small-pull-1 {
    position: relative;
    left: -8.33333%
}

.small-offset-0 {
    margin-left: 0%
}

.small-2 {
    width: 16.66667%
}

.small-push-2 {
    position: relative;
    left: 16.66667%
}

.small-pull-2 {
    position: relative;
    left: -16.66667%
}

.small-offset-1 {
    margin-left: 8.33333%
}

.small-3 {
    width: 25%
}

.small-push-3 {
    position: relative;
    left: 25%
}

.small-pull-3 {
    position: relative;
    left: -25%
}

.small-offset-2 {
    margin-left: 16.66667%
}

.small-4 {
    width: 33.33333%
}

.small-push-4 {
    position: relative;
    left: 33.33333%
}

.small-pull-4 {
    position: relative;
    left: -33.33333%
}

.small-offset-3 {
    margin-left: 25%
}

.small-5 {
    width: 41.66667%
}

.small-push-5 {
    position: relative;
    left: 41.66667%
}

.small-pull-5 {
    position: relative;
    left: -41.66667%
}

.small-offset-4 {
    margin-left: 33.33333%
}

.small-6 {
    width: 50%
}

.small-push-6 {
    position: relative;
    left: 50%
}

.small-pull-6 {
    position: relative;
    left: -50%
}

.small-offset-5 {
    margin-left: 41.66667%
}

.small-7 {
    width: 58.33333%
}

.small-push-7 {
    position: relative;
    left: 58.33333%
}

.small-pull-7 {
    position: relative;
    left: -58.33333%
}

.small-offset-6 {
    margin-left: 50%
}

.small-8 {
    width: 66.66667%
}

.small-push-8 {
    position: relative;
    left: 66.66667%
}

.small-pull-8 {
    position: relative;
    left: -66.66667%
}

.small-offset-7 {
    margin-left: 58.33333%
}

.small-9 {
    width: 75%
}

.small-push-9 {
    position: relative;
    left: 75%
}

.small-pull-9 {
    position: relative;
    left: -75%
}

.small-offset-8 {
    margin-left: 66.66667%
}

.small-10 {
    width: 83.33333%
}

.small-push-10 {
    position: relative;
    left: 83.33333%
}

.small-pull-10 {
    position: relative;
    left: -83.33333%
}

.small-offset-9 {
    margin-left: 75%
}

.small-11 {
    width: 91.66667%
}

.small-push-11 {
    position: relative;
    left: 91.66667%
}

.small-pull-11 {
    position: relative;
    left: -91.66667%
}

.small-offset-10 {
    margin-left: 83.33333%
}

.small-12 {
    width: 100%
}

.small-offset-11 {
    margin-left: 91.66667%
}

.small-up-1>.column,.small-up-1>.columns {
    width: 100%;
    float: left
}

.small-up-1>.column:nth-of-type(1n),.small-up-1>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-1>.column:nth-of-type(1n+1),.small-up-1>.columns:nth-of-type(1n+1) {
    clear: both
}

.small-up-1>.column:last-child,.small-up-1>.columns:last-child {
    float: left
}

.small-up-2>.column,.small-up-2>.columns {
    width: 50%;
    float: left
}

.small-up-2>.column:nth-of-type(1n),.small-up-2>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-2>.column:nth-of-type(2n+1),.small-up-2>.columns:nth-of-type(2n+1) {
    clear: both
}

.small-up-2>.column:last-child,.small-up-2>.columns:last-child {
    float: left
}

.small-up-3>.column,.small-up-3>.columns {
    width: 33.33333%;
    float: left
}

.small-up-3>.column:nth-of-type(1n),.small-up-3>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-3>.column:nth-of-type(3n+1),.small-up-3>.columns:nth-of-type(3n+1) {
    clear: both
}

.small-up-3>.column:last-child,.small-up-3>.columns:last-child {
    float: left
}

.small-up-4>.column,.small-up-4>.columns {
    width: 25%;
    float: left
}

.small-up-4>.column:nth-of-type(1n),.small-up-4>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-4>.column:nth-of-type(4n+1),.small-up-4>.columns:nth-of-type(4n+1) {
    clear: both
}

.small-up-4>.column:last-child,.small-up-4>.columns:last-child {
    float: left
}

.small-up-5>.column,.small-up-5>.columns {
    width: 20%;
    float: left
}

.small-up-5>.column:nth-of-type(1n),.small-up-5>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-5>.column:nth-of-type(5n+1),.small-up-5>.columns:nth-of-type(5n+1) {
    clear: both
}

.small-up-5>.column:last-child,.small-up-5>.columns:last-child {
    float: left
}

.small-up-6>.column,.small-up-6>.columns {
    width: 16.66667%;
    float: left
}

.small-up-6>.column:nth-of-type(1n),.small-up-6>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-6>.column:nth-of-type(6n+1),.small-up-6>.columns:nth-of-type(6n+1) {
    clear: both
}

.small-up-6>.column:last-child,.small-up-6>.columns:last-child {
    float: left
}

.small-up-7>.column,.small-up-7>.columns {
    width: 14.28571%;
    float: left
}

.small-up-7>.column:nth-of-type(1n),.small-up-7>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-7>.column:nth-of-type(7n+1),.small-up-7>.columns:nth-of-type(7n+1) {
    clear: both
}

.small-up-7>.column:last-child,.small-up-7>.columns:last-child {
    float: left
}

.small-up-8>.column,.small-up-8>.columns {
    width: 12.5%;
    float: left
}

.small-up-8>.column:nth-of-type(1n),.small-up-8>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-8>.column:nth-of-type(8n+1),.small-up-8>.columns:nth-of-type(8n+1) {
    clear: both
}

.small-up-8>.column:last-child,.small-up-8>.columns:last-child {
    float: left
}

.small-collapse>.column,.small-collapse>.columns {
    padding-left: 0;
    padding-right: 0
}

.small-collapse .row,.expanded.row .small-collapse.row {
    margin-left: 0;
    margin-right: 0
}

.small-uncollapse>.column,.small-uncollapse>.columns {
    padding-left: 20px;
    padding-right: 20px
}

.small-centered {
    float: none;
    margin-left: auto;
    margin-right: auto
}

.small-uncentered,.small-push-0,.small-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left
}

@media screen and (min-width: 40em) {
    .medium-1 {
        width:8.33333%
    }

    .medium-push-1 {
        position: relative;
        left: 8.33333%
    }

    .medium-pull-1 {
        position: relative;
        left: -8.33333%
    }

    .medium-offset-0 {
        margin-left: 0%
    }

    .medium-2 {
        width: 16.66667%
    }

    .medium-push-2 {
        position: relative;
        left: 16.66667%
    }

    .medium-pull-2 {
        position: relative;
        left: -16.66667%
    }

    .medium-offset-1 {
        margin-left: 8.33333%
    }

    .medium-3 {
        width: 25%
    }

    .medium-push-3 {
        position: relative;
        left: 25%
    }

    .medium-pull-3 {
        position: relative;
        left: -25%
    }

    .medium-offset-2 {
        margin-left: 16.66667%
    }

    .medium-4 {
        width: 33.33333%
    }

    .medium-push-4 {
        position: relative;
        left: 33.33333%
    }

    .medium-pull-4 {
        position: relative;
        left: -33.33333%
    }

    .medium-offset-3 {
        margin-left: 25%
    }

    .medium-5 {
        width: 41.66667%
    }

    .medium-push-5 {
        position: relative;
        left: 41.66667%
    }

    .medium-pull-5 {
        position: relative;
        left: -41.66667%
    }

    .medium-offset-4 {
        margin-left: 33.33333%
    }

    .medium-6 {
        width: 50%
    }

    .medium-push-6 {
        position: relative;
        left: 50%
    }

    .medium-pull-6 {
        position: relative;
        left: -50%
    }

    .medium-offset-5 {
        margin-left: 41.66667%
    }

    .medium-7 {
        width: 58.33333%
    }

    .medium-push-7 {
        position: relative;
        left: 58.33333%
    }

    .medium-pull-7 {
        position: relative;
        left: -58.33333%
    }

    .medium-offset-6 {
        margin-left: 50%
    }

    .medium-8 {
        width: 66.66667%
    }

    .medium-push-8 {
        position: relative;
        left: 66.66667%
    }

    .medium-pull-8 {
        position: relative;
        left: -66.66667%
    }

    .medium-offset-7 {
        margin-left: 58.33333%
    }

    .medium-9 {
        width: 75%
    }

    .medium-push-9 {
        position: relative;
        left: 75%
    }

    .medium-pull-9 {
        position: relative;
        left: -75%
    }

    .medium-offset-8 {
        margin-left: 66.66667%
    }

    .medium-10 {
        width: 83.33333%
    }

    .medium-push-10 {
        position: relative;
        left: 83.33333%
    }

    .medium-pull-10 {
        position: relative;
        left: -83.33333%
    }

    .medium-offset-9 {
        margin-left: 75%
    }

    .medium-11 {
        width: 91.66667%
    }

    .medium-push-11 {
        position: relative;
        left: 91.66667%
    }

    .medium-pull-11 {
        position: relative;
        left: -91.66667%
    }

    .medium-offset-10 {
        margin-left: 83.33333%
    }

    .medium-12 {
        width: 100%
    }

    .medium-offset-11 {
        margin-left: 91.66667%
    }

    .medium-up-1>.column,.medium-up-1>.columns {
        width: 100%;
        float: left
    }

    .medium-up-1>.column:nth-of-type(1n),.medium-up-1>.columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-1>.column:nth-of-type(1n+1),.medium-up-1>.columns:nth-of-type(1n+1) {
        clear: both
    }

    .medium-up-1>.column:last-child,.medium-up-1>.columns:last-child {
        float: left
    }

    .medium-up-2>.column,.medium-up-2>.columns {
        width: 50%;
        float: left
    }

    .medium-up-2>.column:nth-of-type(1n),.medium-up-2>.columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-2>.column:nth-of-type(2n+1),.medium-up-2>.columns:nth-of-type(2n+1) {
        clear: both
    }

    .medium-up-2>.column:last-child,.medium-up-2>.columns:last-child {
        float: left
    }

    .medium-up-3>.column,.medium-up-3>.columns {
        width: 33.33333%;
        float: left
    }

    .medium-up-3>.column:nth-of-type(1n),.medium-up-3>.columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-3>.column:nth-of-type(3n+1),.medium-up-3>.columns:nth-of-type(3n+1) {
        clear: both
    }

    .medium-up-3>.column:last-child,.medium-up-3>.columns:last-child {
        float: left
    }

    .medium-up-4>.column,.medium-up-4>.columns {
        width: 25%;
        float: left
    }

    .medium-up-4>.column:nth-of-type(1n),.medium-up-4>.columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-4>.column:nth-of-type(4n+1),.medium-up-4>.columns:nth-of-type(4n+1) {
        clear: both
    }

    .medium-up-4>.column:last-child,.medium-up-4>.columns:last-child {
        float: left
    }

    .medium-up-5>.column,.medium-up-5>.columns {
        width: 20%;
        float: left
    }

    .medium-up-5>.column:nth-of-type(1n),.medium-up-5>.columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-5>.column:nth-of-type(5n+1),.medium-up-5>.columns:nth-of-type(5n+1) {
        clear: both
    }

    .medium-up-5>.column:last-child,.medium-up-5>.columns:last-child {
        float: left
    }

    .medium-up-6>.column,.medium-up-6>.columns {
        width: 16.66667%;
        float: left
    }

    .medium-up-6>.column:nth-of-type(1n),.medium-up-6>.columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-6>.column:nth-of-type(6n+1),.medium-up-6>.columns:nth-of-type(6n+1) {
        clear: both
    }

    .medium-up-6>.column:last-child,.medium-up-6>.columns:last-child {
        float: left
    }

    .medium-up-7>.column,.medium-up-7>.columns {
        width: 14.28571%;
        float: left
    }

    .medium-up-7>.column:nth-of-type(1n),.medium-up-7>.columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-7>.column:nth-of-type(7n+1),.medium-up-7>.columns:nth-of-type(7n+1) {
        clear: both
    }

    .medium-up-7>.column:last-child,.medium-up-7>.columns:last-child {
        float: left
    }

    .medium-up-8>.column,.medium-up-8>.columns {
        width: 12.5%;
        float: left
    }

    .medium-up-8>.column:nth-of-type(1n),.medium-up-8>.columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-8>.column:nth-of-type(8n+1),.medium-up-8>.columns:nth-of-type(8n+1) {
        clear: both
    }

    .medium-up-8>.column:last-child,.medium-up-8>.columns:last-child {
        float: left
    }

    .medium-collapse>.column,.medium-collapse>.columns {
        padding-left: 0;
        padding-right: 0
    }

    .medium-collapse .row,.expanded.row .medium-collapse.row {
        margin-left: 0;
        margin-right: 0
    }

    .medium-uncollapse>.column,.medium-uncollapse>.columns {
        padding-left: 20px;
        padding-right: 20px
    }

    .medium-centered {
        float: none;
        margin-left: auto;
        margin-right: auto
    }

    .medium-uncentered,.medium-push-0,.medium-pull-0 {
        position: static;
        margin-left: 0;
        margin-right: 0;
        float: left
    }
}

@media screen and (min-width: 64em) {
    .large-1 {
        width:8.33333%
    }

    .large-push-1 {
        position: relative;
        left: 8.33333%
    }

    .large-pull-1 {
        position: relative;
        left: -8.33333%
    }

    .large-offset-0 {
        margin-left: 0%
    }

    .large-2 {
        width: 16.66667%
    }

    .large-push-2 {
        position: relative;
        left: 16.66667%
    }

    .large-pull-2 {
        position: relative;
        left: -16.66667%
    }

    .large-offset-1 {
        margin-left: 8.33333%
    }

    .large-3 {
        width: 25%
    }

    .large-push-3 {
        position: relative;
        left: 25%
    }

    .large-pull-3 {
        position: relative;
        left: -25%
    }

    .large-offset-2 {
        margin-left: 16.66667%
    }

    .large-4 {
        width: 33.33333%
    }

    .large-push-4 {
        position: relative;
        left: 33.33333%
    }

    .large-pull-4 {
        position: relative;
        left: -33.33333%
    }

    .large-offset-3 {
        margin-left: 25%
    }

    .large-5 {
        width: 41.66667%
    }

    .large-push-5 {
        position: relative;
        left: 41.66667%
    }

    .large-pull-5 {
        position: relative;
        left: -41.66667%
    }

    .large-offset-4 {
        margin-left: 33.33333%
    }

    .large-6 {
        width: 50%
    }

    .large-push-6 {
        position: relative;
        left: 50%
    }

    .large-pull-6 {
        position: relative;
        left: -50%
    }

    .large-offset-5 {
        margin-left: 41.66667%
    }

    .large-7 {
        width: 58.33333%
    }

    .large-push-7 {
        position: relative;
        left: 58.33333%
    }

    .large-pull-7 {
        position: relative;
        left: -58.33333%
    }

    .large-offset-6 {
        margin-left: 50%
    }

    .large-8 {
        width: 66.66667%
    }

    .large-push-8 {
        position: relative;
        left: 66.66667%
    }

    .large-pull-8 {
        position: relative;
        left: -66.66667%
    }

    .large-offset-7 {
        margin-left: 58.33333%
    }

    .large-9 {
        width: 75%
    }

    .large-push-9 {
        position: relative;
        left: 75%
    }

    .large-pull-9 {
        position: relative;
        left: -75%
    }

    .large-offset-8 {
        margin-left: 66.66667%
    }

    .large-10 {
        width: 83.33333%
    }

    .large-push-10 {
        position: relative;
        left: 83.33333%
    }

    .large-pull-10 {
        position: relative;
        left: -83.33333%
    }

    .large-offset-9 {
        margin-left: 75%
    }

    .large-11 {
        width: 91.66667%
    }

    .large-push-11 {
        position: relative;
        left: 91.66667%
    }

    .large-pull-11 {
        position: relative;
        left: -91.66667%
    }

    .large-offset-10 {
        margin-left: 83.33333%
    }

    .large-12 {
        width: 100%
    }

    .large-offset-11 {
        margin-left: 91.66667%
    }

    .large-up-1>.column,.large-up-1>.columns {
        width: 100%;
        float: left
    }

    .large-up-1>.column:nth-of-type(1n),.large-up-1>.columns:nth-of-type(1n) {
        clear: none
    }

    .large-up-1>.column:nth-of-type(1n+1),.large-up-1>.columns:nth-of-type(1n+1) {
        clear: both
    }

    .large-up-1>.column:last-child,.large-up-1>.columns:last-child {
        float: left
    }

    .large-up-2>.column,.large-up-2>.columns {
        width: 50%;
        float: left
    }

    .large-up-2>.column:nth-of-type(1n),.large-up-2>.columns:nth-of-type(1n) {
        clear: none
    }

    .large-up-2>.column:nth-of-type(2n+1),.large-up-2>.columns:nth-of-type(2n+1) {
        clear: both
    }

    .large-up-2>.column:last-child,.large-up-2>.columns:last-child {
        float: left
    }

    .large-up-3>.column,.large-up-3>.columns {
        width: 33.33333%;
        float: left
    }

    .large-up-3>.column:nth-of-type(1n),.large-up-3>.columns:nth-of-type(1n) {
        clear: none
    }

    .large-up-3>.column:nth-of-type(3n+1),.large-up-3>.columns:nth-of-type(3n+1) {
        clear: both
    }

    .large-up-3>.column:last-child,.large-up-3>.columns:last-child {
        float: left
    }

    .large-up-4>.column,.large-up-4>.columns {
        width: 25%;
        float: left
    }

    .large-up-4>.column:nth-of-type(1n),.large-up-4>.columns:nth-of-type(1n) {
        clear: none
    }

    .large-up-4>.column:nth-of-type(4n+1),.large-up-4>.columns:nth-of-type(4n+1) {
        clear: both
    }

    .large-up-4>.column:last-child,.large-up-4>.columns:last-child {
        float: left
    }

    .large-up-5>.column,.large-up-5>.columns {
        width: 20%;
        float: left
    }

    .large-up-5>.column:nth-of-type(1n),.large-up-5>.columns:nth-of-type(1n) {
        clear: none
    }

    .large-up-5>.column:nth-of-type(5n+1),.large-up-5>.columns:nth-of-type(5n+1) {
        clear: both
    }

    .large-up-5>.column:last-child,.large-up-5>.columns:last-child {
        float: left
    }

    .large-up-6>.column,.large-up-6>.columns {
        width: 16.66667%;
        float: left
    }

    .large-up-6>.column:nth-of-type(1n),.large-up-6>.columns:nth-of-type(1n) {
        clear: none
    }

    .large-up-6>.column:nth-of-type(6n+1),.large-up-6>.columns:nth-of-type(6n+1) {
        clear: both
    }

    .large-up-6>.column:last-child,.large-up-6>.columns:last-child {
        float: left
    }

    .large-up-7>.column,.large-up-7>.columns {
        width: 14.28571%;
        float: left
    }

    .large-up-7>.column:nth-of-type(1n),.large-up-7>.columns:nth-of-type(1n) {
        clear: none
    }

    .large-up-7>.column:nth-of-type(7n+1),.large-up-7>.columns:nth-of-type(7n+1) {
        clear: both
    }

    .large-up-7>.column:last-child,.large-up-7>.columns:last-child {
        float: left
    }

    .large-up-8>.column,.large-up-8>.columns {
        width: 12.5%;
        float: left
    }

    .large-up-8>.column:nth-of-type(1n),.large-up-8>.columns:nth-of-type(1n) {
        clear: none
    }

    .large-up-8>.column:nth-of-type(8n+1),.large-up-8>.columns:nth-of-type(8n+1) {
        clear: both
    }

    .large-up-8>.column:last-child,.large-up-8>.columns:last-child {
        float: left
    }

    .large-collapse>.column,.large-collapse>.columns {
        padding-left: 0;
        padding-right: 0
    }

    .large-collapse .row,.expanded.row .large-collapse.row {
        margin-left: 0;
        margin-right: 0
    }

    .large-uncollapse>.column,.large-uncollapse>.columns {
        padding-left: 20px;
        padding-right: 20px
    }

    .large-centered {
        float: none;
        margin-left: auto;
        margin-right: auto
    }

    .large-uncentered,.large-push-0,.large-pull-0 {
        position: static;
        margin-left: 0;
        margin-right: 0;
        float: left
    }
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom:1}

.display-none {
    display: none
}

.offscreen {
    position: absolute;
    left: -100000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden
}

.capitalize {
    text-transform: capitalize
}

.uppercase {
    text-transform: uppercase
}

.align-center {
    text-align: center
}

.right {
    float: right
}

.left {
    float: left
}

@media (min-width: 768px) {
    .screen-sm-only {
        display:none !important
    }
}

.screen-md-and-up {
    display: none !important
}

@media (min-width: 768px) {
    .screen-md-and-up {
        display:block !important
    }
}

.screen-lg-and-up {
    display: none !important
}

@media (min-width: 1024px) {
    .screen-lg-and-up {
        display:block !important
    }
}

html {
    font-size: 100%;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box
}

*,*::before,*::after {
    box-sizing: inherit
}

body {
    margin: 0;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'proxima-nova'
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle
}

a {
    background-color: transparent;
    color: #ff9b7f;
    text-decoration: none;
    font-weight: bold
}

a:focus,a:hover {
    color: #ffaf99
}

h1 a,h2 a,h3 a {
    font-weight: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button[type=button],button[type=submit],input[type=submit],.submit-button {
    background-color: #252222;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1px;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2em
}

button[type=button]:focus,button[type=button]:hover,button[type=submit]:focus,button[type=submit]:hover,input[type=submit]:focus,input[type=submit]:hover,.submit-button:focus,.submit-button:hover {
    color: white;
    background-color: #403a3a
}

td,th {
    padding: 0
}

hr {
    border-top: 2px solid #ededed;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 60px;
    margin-bottom: 60px
}

h1,h2 {
    font-weight: normal
}

h1 {
    font-family: 'brandon-regular';
    font-size: 32px;
    line-height: 1em;
    letter-spacing: 0.02em
}

h2 {
    font-family: 'brandon-regular';
    font-size: 26px
}

h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600px;
    letter-spacing: 2px
}

.content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px
}

@media (min-width: 480px) {
    .content {
        padding-left:40px;
        padding-right: 40px
    }
}

.content .row {
    margin-left: -20px;
    margin-right: -20px
}

.content-subnav {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0
}

.content-subnav>li h3 {
    margin: 0
}

.content-subnav>li a {
    color: #dad8d8
}

.content-subnav>li a:focus,.content-subnav>li a:hover {
    color: #252222
}

.content-subnav>li.active a {
    color: #252222
}

.footer {
    background-color: #465680;
    padding-bottom: 80px
}

.footer .nav-links {
    margin-top: 80px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px
}

.footer .nav-links li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px
}

.footer .copyright {
    color: white;
    opacity: 0.5;
    padding-left: 40px;
    padding-right: 40px
}

.social-bar {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #74c791
}

.social-bar a {
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    color: #74c791;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center
}

.social-bar a:focus,.social-bar a:hover {
    background-color: #fff
}

.social-bar a svg {
    position: relative;
    top: 10px;
    height: 50%;
    width: 50%;
    fill: currentColor
}

header {
    position: relative;
    height: 100px
}

.has-page-head header {
    height: 500px
}

.body-index header {
    height: 700px
}

.background-img {
    height: 100%;
    position: relative;
    background-color: #252222;
    background-size: cover;
    background-position: center center
}

.background-img:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3)
}

.body-index .background-img {
    background-image: url("/img/pole-corners.jpg")
}

.body-about .background-img {
    background-image: url("/img/legos-carrying-rocks.jpg")
}

.body-programs .background-img {
    background-image: url("/img/robotics-soulder.jpg")
}

.body-admissions-apply .background-img {
    background-image: url("/img/pick-me.jpg")
}

.body-admissions-faq .background-img {
    background-image: url("/img/ground-mural.jpg")
}

.body-calendar .background-img {
    background-image: url("/img/animal-play.jpg")
}

.body-contact .background-img {
    background-image: url("/img/boys-looking.jpg")
}

.body-programs-pre-school .background-img {
    background-image: url("/img/class-preschool.jpg")
}

.body-programs-middle-school .background-img {
    background-image: url("/img/class-middleschool.jpg")
}

.body-programs-high-school .background-img {
    background-image: url("/img/class-highschool.jpg")
}

@keyframes float-in {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes float-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1
    }
}
.slideshow {
    position:'relative';
    height: '100%'
}

.slideshow .background-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity .25s;
    -webkit-transition: opacity .25s
}

.slideshow-arrow-left,.slideshow-arrow-right {
    position: absolute;
    bottom: 45%;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 50%;
    z-index: 10;
    background-color: rgba(255,255,255,0.15);
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center
}

@media (max-width: 480px) {
    .slideshow-arrow-left,.slideshow-arrow-right {
        display:none
    }
}

.slideshow-arrow-left:hover,.slideshow-arrow-right:hover {
    background-color: rgba(255,255,255,0.3)
}

.slideshow-arrow-left:active,.slideshow-arrow-right:active {
    background-color: rgba(255,255,255,0.35)
}

.slideshow-arrow-left {
    left: 50px
}

.slideshow-arrow-right {
    right: 50px
}

.page-head-wrap {
    position: absolute;
    text-align: center;
    color: white;
    top: 200px;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-animation: float-in 0.3s 0.3s ease-out forwards;
    animation: float-in 0.3s 0.3s ease-out forwards
}

.page-head-wrap h1 {
    font-family: 'brandon-black';
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    max-width: 12em;
    text-align: center
}

@media (min-width: 480px) {
    .page-head-wrap h1 {
        font-size:48px;
        letter-spacing: 3px
    }
}

@media (min-width: 768px) {
    .page-head-wrap h1 {
        font-size:68px;
        letter-spacing: 4px
    }
}

.page-subhead {
    font-family: 'brandon-regular-italic';
    display: block;
    font-size: 24px
}

.cta-button {
    color: white;
    font-family: 'proxima-nova';
    background-color: #ff9b7f;
    border-radius: 300px;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 1.75em;
    display: inline-block;
    line-height: 1em
}

.cta-button:focus,.cta-button:hover {
    color: white;
    background-color: #ffaf99
}

.site-title {
    font-family: 'brandon-regular';
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    letter-spacing: 1px;
    max-width: 240px;
    font-size: 18px;
    font-weight: normal;
    top: 20px;
    left: 10px
}

@media (min-width: 768px) {
    .site-title {
        top:35px;
        left: 20px
    }
}

.site-title a {
    color: white;
    text-decoration: none
}

.site-title a span {
    display: none
}

@media (min-width: 768px) {
    .site-title a span {
        display:inline
    }
}

.site-logo {
    float: left;
    width: 30px;
    margin-right: 5px;
    position: relative;
    top: -10px
}

.site-logo-hover {
    opacity: 0;
    transition: opacity 0.1s;
    position: absolute;
    left: 0
}

a:hover .site-logo-hover {
    opacity: 1
}

.nav-links {
    color: white;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 13px
}

.nav-links>li {
    opacity: 0.8
}

.nav-links>li.active,.nav-links>li:hover {
    opacity: 1
}

.nav-links a {
    text-decoration: none;
    position: relative;
    color: inherit
}

.nav-links a:focus,.nav-links a:hover {
    color: inherit
}

nav>ul {
    display: none
}

@media (min-width: 768px) {
    nav>ul {
        display:block;
        position: absolute;
        top: 40px;
        right: 20px;
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 0;
        padding-left: 0
    }
}

nav>ul>li {
    display: inline-block;
    position: relative;
    padding-left: 10px
}

nav>ul>li:hover .subnav {
    opacity: 1;
    transform: translateY(0)
}

nav>ul>li:hover .subnav li {
    height: auto
}

nav .subnav {
    opacity: 0;
    display: none;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    padding-left: 0;
    padding-top: 10px;
    transform: translateY(-10px);
    transition: transform 0.2s
}

@media (min-width: 768px) {
    nav .subnav {
        display:block
    }
}

nav .subnav li {
    height: 1px;
    display: block
}

nav .subnav a:focus,nav .subnav a:hover {
    text-decoration: underline
}

@media (max-width: 768px) {
    .nav-opened nav {
        z-index:10
    }

    .nav-opened nav>ul {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: #252222;
        color: white;
        text-align: center;
        margin: 0;
        font-size: 15px;
        padding-top: 120px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        z-index: 10;
    }

    .nav-opened nav>ul li {
        display: block;
        animation: reo-fade-in .3s forwards;
        -webkit-animation: reo-fade-in .3s forwards;
        margin-bottom: 20px
    }
}

.hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    user-select: none;
    color: rgba(255,255,255,0.9);
    width: 22px;
    height: 22px;
    z-index: 100
}

@media (min-width: 768px) {
    .hamburger {
        display:none
    }
}

.hamburger .top-bun,.hamburger .meat,.hamburger .bottom-bun {
    width: 22px;
    height: 2px;
    background-color: white;
    -webkit-transition: -webkit-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    -moz-transition: -moz-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: absolute;
    top: 0;
    right: 0
}

.hamburger .meat {
    -webkit-transition: opacity 0s .15s linear;
    -moz-transition: opacity 0s .15s linear;
    -ms-transition: opacity 0s .15s linear;
    -o-transition: opacity 0s .15s linear;
    transition: opacity 0s .15s linear;
    top: 7px
}

.hamburger .bottom-bun {
    top: 14px
}

.nav-opened .hamburger .top-bun,.nav-opened .hamburger .bottom-bun {
    -webkit-transition: top .1s .1s ease-in-out,-webkit-transform .1s .2s ease-in-out;
    -moz-transition: top .1s .1s ease-in-out,-moz-transform .1s .2s ease-in-out;
    -ms-transition: top .1s .1s ease-in-out,-ms-transform .1s .2s ease-in-out;
    transition: top .1s .1s ease-in-out,transform .1s .2s ease-in-out
}

.nav-opened .hamburger .top-bun {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px
}

.nav-opened .hamburger .meat {
    opacity: 0
}

.nav-opened .hamburger .bottom-bun {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 7px
}

.p01-contact .field {
    margin-top: 30px;
    margin-bottom: 20px
}

.p01-contact label {
    display: block;
    font-weight: normal;
    margin-bottom: 5px
}

.p01-contact label .description {
    color: #dad8d8;
    float: right
}

.p01-contact input:not([type=radio]):not([type=checkbox]):not([type=submit]),.p01-contact textarea,.p01-contact select {
    border: 1px solid #dad8d8;
    background-color: #fafafa;
    padding: 10px;
    margin: 0;
    outline: none;
    width: 100%;
    font-size: 1em;
    transition: all 0.3s ease-in-out
}

.p01-contact input:not([type=radio]):not([type=checkbox]):not([type=submit]):focus,.p01-contact textarea:focus,.p01-contact select:focus {
    background-color: white
}

.p01-contact .required label:after {
    content: ' *'
}

.p01-contact input[type=radio],.p01-contact input[type=checkbox] {
    vertical-align: middle
}

.p01-contact .options input {
    display: inline-block
}

.p01-contact .error-msg {
    color: #ff4b19
}

.p01-contact .alert {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px
}

.p01-contact .alert.success {
    color: #112b1a;
    background-color: #bde4cb
}

.p01-contact .alert.failed {
    color: #ff4b19;
    background-color: #ffebe5
}

.events {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0
}

.events>li {
    margin-bottom: 60px
}

.date-block {
    display: table;
    position: relative;
    height: 70px;
    width: 70px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    background-color: #ededed;
    color: inherit;
    font-weight: normal
}

.date-block:focus,.date-block:hover {
    color: inherit
}

.date-block:focus span,.date-block:hover span {
    opacity: 1
}

.is-past .date-block:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 35px;
    width: 1px;
    height: 70px;
    background-color: #4a3f3f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

@media (min-width: 480px) {
    .date-block {
        float:left
    }
}

.date-block>div {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 10px;
    color: inherit;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0
}

.date-block span {
    display: block;
    line-height: 1em;
    opacity: 0.5;
    text-transform: uppercase;
    white-space: nowrap
}

.date-block .month {
    font-size: 14px
}

.date-block .day {
    font-size: 26px
}

.event-text h2 {
    margin-bottom: 0
}

@media (min-width: 480px) {
    .event-text {
        margin-left:100px
    }
}

/*# sourceMappingURL=main.css.map */
